[Desktop Entry]
Name=PerfektBlue
Comment=Bluetooth & CAN Attack Suite
Exec=sudo perfektblue
Icon=/usr/share/icons/hicolor/64x64/apps/perfektblue.png
Terminal=true
Type=Application
Categories=Network;Security;
X-Kali-Package=Exploitation Tools
X-Parrot-Package=PenTesting
