[Desktop Entry]
Name=PerfektBlue Exploit
Comment=Bluetooth & CAN Attack Suite
Exec=perfektblue
Icon=/usr/share/icons/hicolor/64x64/apps/perfektblue.png
Terminal=true
Type=Application
Categories=Utility;Security;Network;
